.createTodo {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    margin-top: -1.75rem;
    margin-bottom: 4.2rem;
}

.createTodo input {
    border: none;
    border-radius: 0.5rem;
    width: 39.875rem;
    height: 3.375rem;
    background: var(--gray-400);
    color: var(--gray-200);
    padding-left: 1rem;
    font-size: 1rem;
}

.createTodo input:focus {
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.createTodo button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    width: 5.625rem;
    height: 3.375rem;
    background: var(--blueDark);
    color: var(--gray-100);
    font-weight: 700;

}

.createTodo button:focus {
    color: var(--gray-400);
}

.todoList {
    display: flex;
    flex-direction: column;
    width: 736px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    color: var(--gray-200);
}

.listContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
}

.leftTop {
    display: flex;
    gap: 0.5rem;
}

.leftTop p {
    color: var(--blue);
    font-weight: 700;
}

.top span {
    background-color: var(--gray-400);
    padding: 0.2rem 0.5rem;
    border-radius: 0.8rem;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
}

.top .rightTop {
    display: flex;
    gap: 0.5rem;
}

.rightTop p {
    color: var(--purple);
    font-weight: 700;
}